/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaRegular.otf);
  font-weight: normal;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaSemibold.otf);
  font-weight: bold;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaSemibold.otf);
  font-weight: 500;
}
@font-face {
  font-family: ProximaNovaCondensed;
  src: url(../fonts/ProximaNovaCondensed.otf);
  font-weight: 500;
}
html,
body {
  font-family: "ProximaNova", Sans-Serif;
  font-size: 14px;
  color: #5e5e5e;
  font-weight: normal;
  line-height: 1.66;
  zoom: 0.95;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

div,
button,
span,
ul,
input,
section,
a,
textarea,
nav {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #5e5e5e;
  text-decoration: none;
  cursor: pointer;
}

ul,
p {
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

.wrapper {
  padding-top: 80px;
  padding-left: 215px;
  background: #fafafa;
  min-width: 1300px;
  min-height: calc(100vh - 81px);
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.document-display {
  margin-bottom: 20px;
}
.document-display:last-of-type {
  margin-bottom: 0;
}
.document-display > .icon {
  font-size: 4.4em;
  position: absolute;
  color: #e2e2e2;
}
.document-display .details {
  padding-left: 5.5em;
}
.document-display .details p {
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.document-display-small {
  margin-bottom: 20px;
}
.document-display-small:last-of-type {
  margin-bottom: 0;
}
.document-display-small > .icon {
  font-size: 3em;
  position: absolute;
  color: #e2e2e2;
}
.document-display-small .details {
  padding-left: 4em;
}
.document-display-small .details p {
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.document-upload-display {
  margin-bottom: 23px;
}
.document-upload-display .details {
  padding-left: 7em;
}
.document-upload-display .details .ellipsis {
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.document-upload-display .details .description {
  height: 3em;
  overflow: hidden;
}
.document-upload-display .file-upload-preview {
  position: absolute;
  background: #fff;
  width: 6em;
  border-radius: 3px;
  border: dashed #c7c7c7 1px;
  text-align: center;
  padding: 12px 0;
}
.document-upload-display .file-upload-preview > .icon.fa-file-o {
  font-size: 5em;
}
.document-upload-display .file-upload-preview > .icon.fa-cloud-upload {
  position: absolute;
  bottom: 25px;
  margin: 0;
  left: 0;
  right: 0;
  font-size: 20px;
}

.confirm-statement {
  max-width: 70%;
  margin: auto;
  margin-top: 50px;
}

.upload-dropzone {
  width: 100%;
  padding-top: 100%;
  background: #fdfdfd;
  border: dashed #c7c7c7 1px;
  border-radius: 3px;
  position: relative;
}
.upload-dropzone .content {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 75px;
}
.upload-dropzone .file-name {
  text-decoration: underline;
  margin-bottom: 8px;
  position: relative;
  font-size: 11px;
}
.upload-dropzone .icon.fa-cloud-download {
  font-size: 4em;
}
.upload-dropzone .remove-file {
  display: inline-block;
  margin-left: 5px;
  margin-top: -19px;
  background: #9b9b9b;
  color: #e7e7e7;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease;
}
.upload-dropzone .remove-file:hover {
  background: #ff2600;
}

/*Horizontal divider*/
.horizontal-divider {
  display: table;
  white-space: nowrap;
  height: auto;
  margin: '';
  overflow: hidden;
  line-height: 1;
  text-align: center;
  margin: 10px 0;
}
.horizontal-divider:before, .horizontal-divider:after {
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  background-repeat: no-repeat;
  background-image: url(../images/divider-line.png);
}
.horizontal-divider:before {
  background-position: right 1em top 50%;
}
.horizontal-divider:after {
  background-position: left 1em top 50%;
}

.footer {
  padding: 28px 20px;
  position: relative;
  border-top: solid #e7e7e7 2px;
  background: #f7f7f7;
  color: #a0a0a0;
  z-index: 14;
}

.animated-checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #5b9a11;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.animated-checkmark {
  zoom: 1.8;
  -moz-transform: scale(1.8);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 6;
  stroke-linecap: round;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10px auto;
  box-shadow: inset 0px 0px 0px #5b9a11;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.animated-checkmark-check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #5b9a11;
  }
}
.right-float {
  float: right;
}

.left-float {
  float: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.img-holder {
  position: relative;
  overflow: hidden;
}
.img-holder.round {
  border-radius: 50%;
}

.img-auto-place {
  position: absolute;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-full-width {
  width: 100%;
  height: auto;
}

ul.list-unstyled {
  list-style-type: none;
}
ul.numbered {
  list-style-type: decimal;
  margin-left: 15px;
}

ol.lower-roman {
  list-style-type: lower-roman;
}

ol.numbered-child {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
ol.numbered-child li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
ol.numbered-child li:before {
  content: counters(item,".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.orange-color {
  color: #F5821F;
}

.red-color {
  color: #ec1d24;
}

.green-color {
  color: #5b9a11;
}

.orange-link-underline,
.orange-link-undeline {
  font-weight: bold;
  color: #F5821F;
  text-decoration: underline;
  display: inline-block;
}

.orange-link-undeline-normal {
  font-weight: normal;
  color: #F5821F;
  text-decoration: underline;
  display: inline-block;
}

.info .label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.nowrap {
  white-space: nowrap;
}

.small-font {
  font-size: 12px;
}

.breakword {
  word-break: break-word;
}

/*  SECTIONS  */
.row {
  clear: both;
  padding: 0px;
  margin: 0px -15px;
  /*  GROUPING  */
}
.row.group:before, .row.group:after {
  content: "";
  display: table;
}
.row.group:after {
  clear: both;
}
.row.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  padding: 0 15px;
}

.col:first-child {
  margin-left: 0;
}

/*  GRID OF TWELVE  */
.span12 {
  width: 100%;
}

.span11 {
  width: 91.66%;
}

.span10 {
  width: 83.33%;
}

.span9 {
  width: 75%;
}

.span8 {
  width: 66.66%;
}

.span7 {
  width: 58.33%;
}

.span6 {
  width: 50%;
}

.span5 {
  width: 41.66%;
}

.span4 {
  width: 33.33%;
}

.span3 {
  width: 25%;
}

.span2 {
  width: 16.66%;
}

.span1 {
  width: 8.333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 769px) {
  .col {
    margin: 1% 0 1% 0%;
  }

  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    width: 100%;
  }
}
.no-margin {
  margin: 0;
}

.mrg-top-5 {
  margin-top: 5px;
}

.mrg-top-10 {
  margin-top: 10px;
}

.mrg-top-15 {
  margin-top: 15px;
}

.mrg-top-20 {
  margin-top: 20px;
}

.mrg-top-25 {
  margin-top: 20px;
}

.mrg-top-30 {
  margin-top: 30px;
}

.mrg-bt-0 {
  margin-bottom: 0px;
}

.mrg-bt-5 {
  margin-bottom: 5px;
}

.mrg-bt-10 {
  margin-bottom: 10px;
}

.mrg-bt-15 {
  margin-bottom: 15px;
}

.mrg-bt-20 {
  margin-bottom: 20px;
}

.mrg-bt-25 {
  margin-bottom: 25px;
}

.mrg-bt-30 {
  margin-bottom: 30px;
}

.mrg-left-5 {
  margin-left: 5px;
}

.mrg-left-15 {
  margin-left: 15px;
}

.pd-10 {
  padding: 10px;
}

.pd-top-10 {
  padding-top: 10px;
}

.pd-bottom-10 {
  padding-bottom: 10px;
}

.pd-left-10 {
  padding-left: 10px;
}

.pd-left-20 {
  padding-left: 20px;
}

.pd-left-30 {
  padding-left: 30px;
}

.pd-left-40 {
  padding-left: 40px;
}

.pd-right-10 {
  padding-right: 10px;
}

.form {
  margin-bottom: 5px;
  position: relative;
}
.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #7d7d7d;
}
.form .field {
  display: block;
  width: 100%;
  border: solid #efefef 1px;
  outline: none;
  font-family: "ProximaNova";
  padding: 15px;
  border-radius: 2px;
  transition: all 0.1s ease;
  height: 50px;
}
.form .field:focus {
  border: solid #F5821F 1px;
}
.form .field.inverted {
  background: #fafafa;
}
.form .field.inverted:focus {
  background: #fff;
}
.form .field.pin {
  letter-spacing: 5px;
}
.form textarea.field {
  resize: vertical;
  height: 170px;
}
.form.icon .icon {
  position: absolute;
  right: 13px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #dcdcdc;
}
.form.icon .field {
  padding-right: 45px;
}
.form.icon.active .icon {
  color: #F5821F;
}
.form .note {
  display: block;
  line-height: 40px;
  margin-bottom: -15px;
  text-align: left;
}
.form.label-set {
  margin-top: 10px;
}
.form.label-set label {
  position: absolute;
  top: -9px;
  left: 12px;
  background: #fff;
  padding: 0 8px;
  font-size: 12px;
  font-weight: normal;
  z-index: 2;
}
.form.label-set .field {
  padding-left: 20px;
}
.form.label-set.active label,
.form.label-set.active .show-password,
.form.label-set.active .icon {
  color: #F5821F;
}
.form.dropdown-form label {
  z-index: 11;
}
.form.amount-form .currency-icon {
  position: absolute;
  top: 14px;
  left: 20px;
}
.form.amount-form .field {
  padding-left: 35px;
}
.form.text-right .field {
  padding-right: 70px;
}
.form.text-right .text {
  position: absolute;
  right: 18px;
  top: 14px;
}
.form.error label, .form.error.active label {
  color: #ec1d24;
}
.form.error .field,
.form.error .ui.selection.dropdown,
.form.error .ui.selection.active.dropdown:hover,
.form.error .ui.selection.active.dropdown:hover .menu,
.form.error .ui.selection.active.dropdown,
.form.error .ui.selection.active.dropdown .menu, .form.error.active .field,
.form.error.active .ui.selection.dropdown,
.form.error.active .ui.selection.active.dropdown:hover,
.form.error.active .ui.selection.active.dropdown:hover .menu,
.form.error.active .ui.selection.active.dropdown,
.form.error.active .ui.selection.active.dropdown .menu {
  border: solid #ec1d24 1px;
}
.form.error .note, .form.error.active .note {
  color: #ec1d24;
}
.form.error .field, .form.error.active .field {
  color: #ec1d24;
}
.form.error .show-password, .form.error.active .show-password {
  color: #ec1d24;
}
.form.error.amount-form .currency-icon, .form.error.active.amount-form .currency-icon {
  color: #ec1d24;
}
.form.error ::-webkit-input-placeholder, .form.error.active ::-webkit-input-placeholder {
  color: #f58e91;
  font-weight: 300;
}
.form.error ::-moz-input-placeholder, .form.error.active ::-moz-input-placeholder {
  color: #f58e91;
  font-weight: 300;
}
.form.error ::-ms-input-placeholder, .form.error.active ::-ms-input-placeholder {
  color: #f58e91;
  font-weight: 300;
}
.form .show-password {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  top: 16px;
  right: 13px;
  cursor: pointer;
  color: #8a8a8a;
}

.input-daterange input {
  text-align: left;
}

.row.group.form-group {
  margin: 0 -7px;
}
.row.group.form-group .col {
  padding: 0 7px;
}

.button {
  background: #e7e7e7;
  color: #5e5e5e;
  font-weight: normal;
  font-family: "ProximaNova", Sans-serif;
  border: solid #e7e7e7 1px;
  border-radius: 2px;
  padding: 10px 20px;
  height: 50px;
  outline: none;
  letter-spacing: 0.5px;
  transition: all 0.1s ease;
  font-weight: 500;
}
.button.orange {
  background: #F5821F;
  border: solid #F5821F 1px;
  color: #fff;
}
.button.orange:hover, .button.orange:active {
  background: #f0750b;
  border-color: #f0750b;
}
.button.gray {
  background: #b0b0b0;
  border: solid #b0b0b0 1px;
  color: #fff;
}
.button.gray:hover, .button.gray:active {
  background: #a3a3a3;
  border-color: #a3a3a3;
}
.button.wide {
  width: 250px;
}
.button.fat {
  width: 200px;
}
.button.semi-fat {
  width: 135px;
}
.button.block {
  width: 100%;
  display: block;
}

/*Disabled state button*/
.button.disabled, .button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button-link {
  font-family: "ProximaNova", Sans-serif;
  font-weight: 500;
  color: #5e5e5e;
  border: solid #5e5e5e 1px;
  padding: 7px 5px;
  border-radius: 3px;
  background: transparent;
  min-width: 80px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
}
.button-link.orange {
  border: solid #F5821F 1px;
  color: #F5821F;
}
.button-link.orange:hover {
  background: #f0750b;
  border-color: #f0750b;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: 500;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  font-weight: 500;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 0.85em;
}

.header {
  display: table;
  width: 100%;
}
.header > .row {
  margin-left: 0;
  margin-right: 0;
}
.header > .row > .col {
  padding-left: 0;
  padding-right: 0;
}
.header .search input.field {
  max-width: 400px;
  float: right;
}

.navbar {
  top: 0;
  width: 100%;
  background: #494949;
  color: #ffffff;
  display: table;
  padding: 0 10px;
  position: fixed;
  z-index: 13;
  -webkit-box-shadow: 0px 3px 13px 0px #cbcbcb;
  -moz-box-shadow: 0px 3px 13px 0px #cbcbcb;
  box-shadow: 0px 3px 13px 0px #cbcbcb;
}
.navbar .item {
  display: table;
  padding: 15px 15px;
  transition: all 0.1s ease;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.navbar .item:not(.brand):hover, .navbar .item.active {
  background: #303030;
}
.navbar .item.user .name {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  max-width: 105px;
  text-align: left;
  display: block;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.navbar .item.user .name .company {
  font-size: 11px;
  display: block;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.navbar .item.user .img-holder {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: #fafafa;
}
.navbar .item.user .img-holder .icon {
  font-size: 27px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 27px;
  width: 22px;
  opacity: 0.8;
  color: #9b9b9b;
}
.navbar .item.user .dropdown {
  float: left;
  margin-top: 18px;
  margin-left: 10px;
}
.navbar .item.user .menu {
  position: absolute;
  background: #ffffff;
  width: 100%;
  width: 200px;
  right: 0;
  top: 116%;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  display: none;
}
.navbar .item.user .menu ul li {
  display: block;
}
.navbar .item.user .menu ul li a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #636363;
  padding: 15px 20px;
  border-bottom: solid #e7e7e7 1px;
  transition: all 0.1s ease;
}
.navbar .item.user .menu ul li a:hover {
  background: #F5821F;
  color: #fff;
}
.navbar .item.user .menu ul li a .icon {
  margin-right: 5px;
}
.navbar .item.user .menu ul li:last-child a {
  border-bottom: 0;
}
.navbar .item.user .menu .menu-footer {
  padding: 10px 20px;
  background: #eaeaea;
  font-size: 10px;
  color: #9b9b9b;
}
.navbar .item.brand {
  height: 80px;
  width: 170px;
  margin-left: 10px;
  display: table;
}
.navbar .item.toggle-sidebar {
  height: 80px;
  width: 50px;
  display: none;
}
.navbar .item.toggle-sidebar .icon {
  font-size: 30px;
  margin-top: 8px;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  display: block;
  width: 215px;
  background: #f7f7f7;
  min-height: calc(100% - 80px);
  z-index: 14;
  border-right: solid #e7e7e7 2px;
  transition: all 0.1s ease;
}
.sidebar .menu li a {
  padding: 15px 20px;
  display: block;
  border-bottom: solid #efefef 1px;
  position: relative;
  transition: all 0.1s ease;
}
.sidebar .menu li a.active {
  background: #F5821F;
  color: #fff;
  margin-right: -2px;
}
.sidebar .menu li a:hover:not(.active) {
  background: #eaeaea;
}
.sidebar .menu li .icon {
  position: absolute;
  font-size: 15px;
  top: calc(50% - 10px);
}
.sidebar .menu li .name {
  display: block;
  padding-left: 25px;
}

.segment {
  padding: 25px;
}
.segment.gray {
  background: #fafafa;
}
.segment .segment-group {
  border-bottom: solid #e7e7e7 1px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.segment .segment-group:last-of-type {
  border-bottom: 0;
}
.segment .segment-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.box {
  background: #fff;
  padding: 30px;
  border-radius: 3px;
  display: table;
  width: 100%;
}
.box.gray {
  background: #e7e7e7;
}
.box.orange {
  background: #FFF9EE;
}
.box .box-title {
  margin-bottom: 10px;
}

.numbered-group {
  display: table;
  margin: 0 -20px;
}

.numbered-form {
  display: table;
  max-width: 525px;
  float: left;
  border-right: solid #efefef 1px;
  padding: 0 20px;
}
.numbered-form:last-of-type {
  border-right: 0;
}
.numbered-form .number {
  width: 70px;
  display: table-cell;
}
.numbered-form .number .number-badge {
  font-size: 30px;
  font-weight: bold;
  padding: 7px;
  border: solid #dadada 2px;
  width: 65px;
  height: 65px;
  display: block;
  border-radius: 50%;
  text-align: center;
}
.numbered-form .description {
  width: calc(100% - 280px);
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
}
.numbered-form .actions {
  width: 190px;
  display: table-cell;
  vertical-align: middle;
}

.mx-wd-510 {
  max-width: 510px;
}

.mx-wd-800 {
  max-width: 800px;
}

.mx-wd-1000 {
  max-width: 1000px;
}

.breadcrumb {
  padding: 12px 20px;
  background: #fff;
  border-radius: 4px;
  font-weight: 500;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
.breadcrumb .section {
  display: inline-block;
}
.breadcrumb .section.active {
  color: #F5821F;
}
.breadcrumb .divider {
  padding: 0 10px;
  font-weight: bold;
}
.breadcrumb .breadcrumb-group {
  width: calc(100% - 185px);
  float: left;
}
.breadcrumb .breadcrumb-group.right {
  float: right;
  width: 180px;
  text-align: right;
}
.breadcrumb .breadcrumb-group.right .divider {
  padding: 0 5px;
  font-weight: bold;
}

.table-group {
  border-bottom: solid #e8e8e8 1px;
  border-radius: 4px;
  overflow: auto;
}

.table-wrapper {
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background: #fff;
  overflow: hidden;
  border-bottom: solid #dedede 1px;
  border-radius: 4px;
}
.table thead tr {
  background: #eaeaea;
}
.table thead tr th, .table thead tr td {
  padding: 15px;
}
.table tbody tr, .table tfoot tr {
  border-bottom: solid #f6f6f6 1px;
}
.table tbody tr td, .table tfoot tr td {
  padding: 15px;
}
.table tbody tr:hover, .table tfoot tr:hover {
  background: #e7e7e7 !important;
}
.table tbody tr:not(.hidden):nth-child(odd), .table tfoot tr:not(.hidden):nth-child(odd) {
  background: #fff;
}
.table tbody tr:not(.hidden):nth-child(even), .table tfoot tr:not(.hidden):nth-child(even) {
  background: #f6f6f6;
}
.table tbody tr.no-result, .table tfoot tr.no-result {
  background: #fff;
}
.table tfoot td:hover {
  background: #fff;
}
.table.table-sort th {
  cursor: pointer;
  white-space: nowrap;
}
.table.table-sort th .icon {
  margin-left: 5px;
  font-size: 11px;
  position: relative;
  top: -2px;
}
.table.table-sort th .icon.fa-sort-asc {
  top: 2px;
}
.table.table-sort th .icon.fa-sort-desc {
  top: -3px;
}
.table.basic tbody tr:nth-child(even) {
  background: #fff;
}
.table.basic tbody tr:hover {
  background: #fff !important;
}
.table.basic tbody tr.orange {
  background: #FFF9EE !important;
}
.table.basic tbody tr.orange.hover {
  background: #FFF9EE !important;
}
.table .empty-data {
  text-align: center;
  padding: 50px 10px;
}
.table .empty-data .icon {
  font-size: 50px;
  color: #eaeaea;
}

.alert-wrapper {
  overflow: hidden;
}

.alert {
  background: #fff;
  margin-bottom: 10px;
  padding: 12px 20px;
  border-radius: 5px;
  border-left: solid #F5821F 5px;
  position: relative;
}
.alert .title {
  font-weight: bold;
}
.alert .content {
  padding-right: 60px;
}
.alert .content a {
  text-decoration: underline;
  font-weight: bold;
}
.alert .icon {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 18px;
  cursor: pointer;
  color: #d2d2d2;
}
.alert.success {
  border-left: solid #417505 5px;
}
.alert.success .content {
  color: #417505;
}
.alert.error {
  border-left: solid #ec1d24 5px;
}
.alert.error .content {
  color: #ec1d24;
}
.alert:last-of-type {
  margin-bottom: 20px;
}

.ui.modal .alert.error {
  background: #fef1f1;
}
.ui.modal .alert.success {
  background: #f3f9ec;
}

.badge {
  font-family: "ProximaNova", Sans-serif;
  font-weight: 500;
  color: #5e5e5e;
  border: solid #e7e7e7 1px;
  padding: 7px 20px;
  border-radius: 3px;
  background: #e7e7e7;
  transition: all 0.1s ease;
  font-size: 12px;
}
.badge.green {
  background: #effdcd;
  color: #417505;
  border: solid #effdcd 1px;
}

.panel {
  border-radius: 4px;
  overflow: hidden;
  border: solid #eaeaea 1px;
  margin-bottom: 20px;
}
.panel .panel-head {
  background: #eaeaea;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
}
.panel .panel-body {
  padding: 15px;
}
.panel.orange {
  border: solid #FFF9EE 1px;
}
.panel.orange .panel-head {
  background: #FFF9EE;
}

.ui.modal .response {
  margin-top: 20px;
}
.ui.modal .response .button {
  margin: 0 3px;
  font-weight: 500;
}
.ui.modal .confirm {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.ui.modal .confirm .confirm-checkbox {
  position: absolute;
  top: 8px;
}
.ui.modal .confirm .confirm-desc {
  padding-left: 30px;
}
.ui.modal .confirm.check {
  position: relative;
  margin-left: 20px;
  max-width: 366px;
  margin: auto;
  margin-top: 20px;
}
.ui.modal .error-message {
  margin-bottom: 15px;
  color: #ff2600;
}
.ui.modal .content {
  transition: all 0.1s ease;
  position: relative;
}

@font-face {
  font-family: 'icomoon';
  src: url("../font-icons/icomoon.eot?dq36uj");
  src: url("../font-icons/icomoon.eot?dq36uj#iefix") format("embedded-opentype"), url("../font-icons/icomoon.ttf?dq36uj") format("truetype"), url("../font-icons/icomoon.woff?dq36uj") format("woff"), url("../font-icons/icomoon.svg?dq36uj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  text-rendering: auto;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjustment:before {
  content: "\e900";
}

.icon-card-linking:before {
  content: "\e901";
}

.icon-cash-out:before {
  content: "\e902";
}

.icon-check-balance:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-customer-profile:before {
  content: "\e905";
}

.icon-disbursements:before {
  content: "\e906";
}

.icon-employees:before {
  content: "\e907";
}

.icon-file:before {
  content: "\e908";
}

.icon-help:before {
  content: "\e909";
}

.icon-logout:before {
  content: "\e90a";
}

.icon-prefunding:before {
  content: "\e90b";
}

.icon-profile:before {
  content: "\e90c";
}

.icon-reports:before {
  content: "\e90d";
}

.icon-search:before {
  content: "\e90e";
}

.icon-settlement:before {
  content: "\e90f";
}

.icon-transaction-history:before {
  content: "\e910";
}

.ui.dropdown > .text {
  margin-top: 9px;
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
  margin-top: 0px;
}

.ui.selection.dropdown {
  border: solid #efefef 1px;
  border-radius: 2px;
}

.ui.selection.dropdown:hover,
.ui.selection.dropdown:focus {
  border: solid #efefef 1px;
}

.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown:hover .menu,
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
  border-color: #F5821F;
  box-shadow: none;
}

.ui.default.dropdown:hover > .text,
.ui.default.dropdown > .text, .ui.dropdown:hover > .default.text,
.ui.dropdown > .default.text {
  font-weight: 300;
}

.ui.dropdown > .text {
  color: #5e5e5e;
}

.field.ui.selection.dropdown .menu > .item {
  padding: 15px !important;
  color: #5e5e5e;
}

.form.error .ui.default.dropdown:hover > .text,
.form.error .ui.default.dropdown > .text, .form.error .ui.dropdown:hover > .default.text,
.form.error .ui.dropdown > .default.text {
  color: #f58e91;
}
.form.error .ui.dropdown > .text {
  color: #ec1d24;
}
.form.error .field.ui.selection.dropdown .menu > .item,
.form.error .ui.selection.visible.dropdown > .text:not(.default) {
  color: #ec1d24;
}

.ui.progress .bar {
  border-radius: 100px 0 0 100px;
  background: #F5821F;
  transition-duration: 2000ms !important;
}

.ui.indicating.progress[data-percent^="1"] .bar,
.ui.indicating.progress[data-percent^="2"] .bar,
.ui.indicating.progress[data-percent^="4"] .bar,
.ui.indicating.progress[data-percent^="5"] .bar {
  background-color: #F5821F;
}

.ui.progress,
.ui.progress:first-child {
  border-radius: 100px;
  background: #e7e7e7;
  margin-bottom: 29px;
}

.ui.progress .bar > .progress {
  display: none;
}

.ui.progress .mark {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #c7c7c7;
  border-radius: 50%;
  top: -10px;
}
.ui.progress .mark.first {
  left: calc(10% - 20px);
}
.ui.progress .mark.mid {
  left: calc(50% - 20px);
}
.ui.progress .mark.last {
  left: calc(90% - 20px);
}
.ui.progress .mark.active, .ui.progress .mark.add {
  background: #F5821F;
}
.ui.progress .mark.add {
  opacity: 0;
}

.ui.inline.loader {
  margin-top: -8px;
  margin-right: 5px;
  font-size: 8px;
}

.ui.modal > .header,
.ui.modal > .actions {
  border-radius: 2px;
  color: #676767;
}

.ui.checkbox input:checked ~ .box:before,
.ui.checkbox input:checked ~ label:before {
  border: solid #ffa558 1px !important;
}

.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  color: #f5821f !important;
}

.ui.checkbox .box:after,
.ui.checkbox label:after {
  font-size: 13px;
  top: 1px;
  left: 1px;
}

.ui.checkbox .box:before,
.ui.checkbox label:before {
  border: 1px solid #D4D4D5 !important;
}

.ui.checkbox label,
.ui.checkbox + label
.ui.checkbox label:hover,
.ui.checkbox + label:hover {
  color: #5e5e5e;
}

.datepicker-wrapper {
  position: relative;
}
.datepicker-wrapper .datepicker-dropdown {
  margin-top: 7px;
  border: solid #efefef 1px;
  position: absolute;
  z-index: 2;
  background: #fff;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
.datepicker-wrapper .datepicker td,
.datepicker-wrapper .datepicker th {
  width: 40px;
  height: 40px;
}
.datepicker-wrapper .datepicker table {
  min-width: 300px;
}
.datepicker-wrapper .datepicker td.active,
.datepicker-wrapper .datepicker .month.active,
.datepicker-wrapper .datepicker .year.active,
.datepicker-wrapper .datepicker .decade.active,
.datepicker-wrapper .datepicker .century.active {
  background: #F5821F !important;
}
.datepicker-wrapper .datepicker td.today {
  background: #fdeb9a !important;
}
.datepicker-wrapper .datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #efefef;
  border-top: 0;
  border-bottom-color: #e8e8e8;
  position: absolute;
}

@media (min-width: 550px) {
  .ui.tiny.modal {
    width: 530px;
    margin: 0px 0 0 -265px;
  }
  .ui.tiny.modal > .content {
    padding: 40px;
  }

  .ui.extra-tiny.modal {
    width: 470px;
    margin: 0px 0 0 -235px;
  }
  .ui.extra-tiny.modal > .content {
    padding: 40px;
  }

  .ui.crop.modal {
    width: 441px;
    margin: 0px 0 0 -216px;
  }
}
.box-employee-list {
  min-height: 230px;
}
.box-employee-list #remarks-employee-list {
  min-height: 104px;
  max-height: 104px;
  overflow: auto;
  padding-right: 5px;
  font-size: 13px;
}
.box-employee-list #remarks-employee-list li {
  margin-bottom: 10px;
  word-break: break-word;
}

.row-employee-info .info {
  margin-bottom: 20px;
}
.row-employee-info:last-of-type {
  margin-bottom: -20px;
}

.employee-profile .employee-info-right {
  width: calc(100% - 350px);
  float: right;
}
.employee-profile .employee-info-left {
  width: 250px;
  float: left;
}
.employee-profile .employee-info-left .document-display-small {
  border-bottom: solid #e7e7e7 1px;
  padding-bottom: 10px;
}
.employee-profile .employee-image {
  width: 230px;
  height: 230px;
  border: solid #e7e7e7 1px;
}

.customer-profile .customer-info-left {
  width: calc(100% - 370px);
  float: left;
}
.customer-profile .customer-info-right {
  width: 350px;
  float: right;
}
.customer-profile .customer-info-right .box {
  margin-top: 67px;
}

.ui.dimmer.iframe iframe {
  width: 90%;
  height: 90vh;
  border: 0;
  background: #fff;
}
.ui.dimmer.iframe .close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.ui.dimmer.iframe > .content > * {
  display: block;
}

.ui.dimmer.accordion iframe {
  width: 100%;
  border: 0;
  background: #fff;
  height: 100%;
}
.ui.dimmer.accordion .close {
  position: absolute;
  right: 35px;
  top: 35px;
  font-size: 25px;
  color: #5e5e5e;
  cursor: pointer;
}

.ui.dimmer.article {
  background-color: white !important;
}
.ui.dimmer.article iframe {
  width: 100%;
  border: 0;
  background: #fff;
  height: 100%;
}
.ui.dimmer.article .close {
  position: absolute;
  right: 35px;
  top: 35px;
  font-size: 25px;
  color: #5e5e5e;
  cursor: pointer;
}
.ui.dimmer.article > .content {
  display: block;
  overflow: auto;
}
.ui.dimmer.article > .content > * {
  display: block;
  color: #5e5e5e !important;
}

.privacy-group {
  margin: auto;
  display: block;
}

.privacy-content, .accordion-group, .terms-group {
  max-width: 870px;
  margin: auto;
  background: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 1.66;
  text-align: justify;
  margin-bottom: 30px;
  padding: 0 55px;
}
.privacy-content p, .accordion-group p, .terms-group p {
  margin-bottom: 10px;
}
.privacy-content h3, .accordion-group h3, .terms-group h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
.privacy-content ol li, .accordion-group ol li, .terms-group ol li {
  margin-bottom: 10px;
}
.privacy-content ul, .accordion-group ul, .terms-group ul {
  padding-left: 40px;
}

.terms-group .title {
  font-size: 20px;
  font-weight: bold;
}
.terms-group > ol.numbered-child > li:before {
  font-size: 20px;
}

.accordion-group {
  max-width: 710px;
  padding: 0;
}
.accordion-group .accordion-head {
  display: block;
  border-top: solid #dedede 1px;
  padding: 10px;
  cursor: pointer;
  padding-right: 40px;
  position: relative;
}
.accordion-group .accordion-item-container:first-of-type .accordion-head {
  border-top: 0;
}
.accordion-group .accordion-head .icon {
  position: absolute;
  right: 15px;
  top: 14px;
  font-size: 20px;
}
.accordion-group .toggled.accordion-head {
  background-color: #f2f2f2;
  border-top: solid #dedede 1px;
  border-bottom: 1px solid #dedede;
  font-weight: 500;
}
.accordion-group .fa-angle-up:before {
  content: "\f106" !important;
}
.accordion-group .accordion-body {
  padding: 10px 30px 10px 10px;
  line-height: 27px;
  display: none;
  background: #f7f7f7;
}

.site-brand-container {
  width: 100%;
  display: block;
  padding: 5.25em 4.5455%;
  padding-bottom: 50px;
  padding-bottom: 35px;
}

.site-branding {
  margin: auto;
  text-align: center;
}
.site-branding img {
  width: 200px;
}
.site-branding .title {
  font-size: 1.6em;
  font-weight: bold;
}

.add-salary-table .numbered-group {
  margin-bottom: 30px;
}
.add-salary-table .numbered-group .numbered-form {
  max-width: 550px;
  width: 550px;
}
.add-salary-table .numbered-group .form {
  margin-right: -15px;
}
.add-salary-table .numbered-group .actions {
  position: relative;
}
.add-salary-table .numbered-group .upload-note {
  position: absolute;
  top: 25px;
  left: 106%;
  width: 205px;
  font-size: 12px;
}
.add-salary-table .numbered-group .upload-note .icon.fa-check-circle {
  font-size: 1.2em;
  color: #83cc2f;
}
.add-salary-table .numbered-group .upload-note .preview-file {
  padding-left: 5px;
  text-decoration: underline;
}

.cash-out .numbered-group,
.check-balance .numbered-group,
.prefunding .numbered-group,
.adjustment .numbered-group,
.card-linking .numbered-group,
.customer-profile .numbered-group {
  margin-bottom: 30px;
}
.cash-out .numbered-group .numbered-form,
.check-balance .numbered-group .numbered-form,
.prefunding .numbered-group .numbered-form,
.adjustment .numbered-group .numbered-form,
.card-linking .numbered-group .numbered-form,
.customer-profile .numbered-group .numbered-form {
  max-width: 550px;
  width: 550px;
}
.cash-out .numbered-group .form-group .form,
.check-balance .numbered-group .form-group .form,
.prefunding .numbered-group .form-group .form,
.adjustment .numbered-group .form-group .form,
.card-linking .numbered-group .form-group .form,
.customer-profile .numbered-group .form-group .form {
  margin-right: 10px;
}
.cash-out .numbered-group .description,
.check-balance .numbered-group .description,
.prefunding .numbered-group .description,
.adjustment .numbered-group .description,
.card-linking .numbered-group .description,
.customer-profile .numbered-group .description {
  padding: 0;
  vertical-align: top;
}
.cash-out .numbered-group .form,
.check-balance .numbered-group .form,
.prefunding .numbered-group .form,
.adjustment .numbered-group .form,
.card-linking .numbered-group .form,
.customer-profile .numbered-group .form {
  margin-bottom: 0;
}
.cash-out .numbered-group .form.label-set,
.check-balance .numbered-group .form.label-set,
.prefunding .numbered-group .form.label-set,
.adjustment .numbered-group .form.label-set,
.card-linking .numbered-group .form.label-set,
.customer-profile .numbered-group .form.label-set {
  margin-top: 00px;
}
.cash-out .numbered-group .actions,
.check-balance .numbered-group .actions,
.prefunding .numbered-group .actions,
.adjustment .numbered-group .actions,
.card-linking .numbered-group .actions,
.customer-profile .numbered-group .actions {
  position: relative;
  vertical-align: top;
}
.cash-out .numbered-group .actions.search,
.check-balance .numbered-group .actions.search,
.prefunding .numbered-group .actions.search,
.adjustment .numbered-group .actions.search,
.card-linking .numbered-group .actions.search,
.customer-profile .numbered-group .actions.search {
  width: 150px;
}
.cash-out .numbered-group .upload-note,
.check-balance .numbered-group .upload-note,
.prefunding .numbered-group .upload-note,
.adjustment .numbered-group .upload-note,
.card-linking .numbered-group .upload-note,
.customer-profile .numbered-group .upload-note {
  position: absolute;
  top: 25px;
  left: 106%;
  width: 205px;
  font-size: 12px;
}
.cash-out .numbered-group .upload-note .icon.fa-check-circle,
.check-balance .numbered-group .upload-note .icon.fa-check-circle,
.prefunding .numbered-group .upload-note .icon.fa-check-circle,
.adjustment .numbered-group .upload-note .icon.fa-check-circle,
.card-linking .numbered-group .upload-note .icon.fa-check-circle,
.customer-profile .numbered-group .upload-note .icon.fa-check-circle {
  font-size: 1.2em;
  color: #83cc2f;
}
.cash-out .numbered-group .upload-note .preview-file,
.check-balance .numbered-group .upload-note .preview-file,
.prefunding .numbered-group .upload-note .preview-file,
.adjustment .numbered-group .upload-note .preview-file,
.card-linking .numbered-group .upload-note .preview-file,
.customer-profile .numbered-group .upload-note .preview-file {
  padding-left: 5px;
  text-decoration: underline;
}

.reports .box-tab {
  overflow: hidden;
}
.reports .box-tab .title {
  margin: -30px -30px 0 -30px;
}
.reports .tab-header {
  border-bottom: solid #e7e7e7 2px;
  display: table;
  width: 100%;
  margin-bottom: 30px;
}
.reports .tab-header ul {
  list-style-type: none;
}
.reports .tab-header ul li {
  display: inline-block;
  float: left;
  margin-bottom: -1px;
}
.reports .tab-header ul li a {
  padding: 13px 20px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  border-right: solid #e7e7e7 2px;
  transition: all 0.1s ease;
  cursor: pointer;
}
.reports .tab-header ul li a:hover:not(.active) {
  background: #eaeaea;
}
.reports .tab-header ul li a.active {
  border-right: solid #F5821F 2px;
  background: #F5821F;
  color: #fff;
}
.reports .tab-content {
  display: none;
}

.label-404 {
  font-size: 11em;
  font-weight: 300;
  color: #efefef;
  line-height: 1.2;
}

.box-404 {
  font-size: 15px;
  height: 480px;
}
.box-404 p {
  line-height: 1.9;
}

@media (min-width: 1400px) {
  body:not(.login-page) {
    zoom: 1.12;
  }
}
@media (min-width: 1800px) {
  body:not(.login-page) {
    zoom: 1.3;
  }
}
@media (max-width: 769px) {
  .wrapper {
    min-width: auto;
  }

  .confirm-statement {
    max-width: 100%;
  }

  .segment {
    padding: 40px 20px;
  }

  .navbar .item.brand {
    width: 160px;
  }

  .navbar .item.user .name {
    display: none;
  }

  .employee-profile .employee-info-left,
  .customer-profile .customer-info-left {
    width: 100%;
    float: left;
  }

  .employee-profile .employee-image,
  .customer-profile .customer-image {
    margin: auto;
    width: 160px;
    height: 160px;
  }

  .employee-profile h5 {
    margin-top: 20px;
  }

  .employee-profile .employee-info-right,
  .customer-profile .customer-info-right {
    width: 100%;
    margin-top: 20px;
  }
  .employee-profile .employee-info-right > .right-align,
  .customer-profile .customer-info-right > .right-align {
    text-align: center;
  }
  .employee-profile .employee-info-right .col.span10 h3,
  .customer-profile .customer-info-right .col.span10 h3 {
    margin-bottom: -25px;
  }
  .employee-profile .employee-info-right .col.span2 .badge.right-float,
  .customer-profile .customer-info-right .col.span2 .badge.right-float {
    float: left;
    margin-bottom: 10px;
  }

  .customer-profile .customer-info-right {
    margin-top: 0;
  }
  .customer-profile .customer-info-right .box {
    margin-top: 0;
  }

  .footer .col,
  .footer .right-align {
    text-align: center !important;
  }

  .button.fat,
  .button.semi-fat {
    width: 100%;
  }

  .check-balance .numbered-group,
  .cash-out .numbered-group,
  .add-salary-table .numbered-group,
  .add-employees .numbered-group,
  .prefunding .numbered-group,
  .card-linking .numbered-group,
  .adjustment .numbered-group,
  .customer-profile .numbered-group {
    display: block;
    margin: auto;
  }
  .check-balance .numbered-group .upload-note,
  .cash-out .numbered-group .upload-note,
  .add-salary-table .numbered-group .upload-note,
  .add-employees .numbered-group .upload-note,
  .prefunding .numbered-group .upload-note,
  .card-linking .numbered-group .upload-note,
  .adjustment .numbered-group .upload-note,
  .customer-profile .numbered-group .upload-note {
    top: 10px;
  }
  .check-balance .numbered-group .numbered-form,
  .cash-out .numbered-group .numbered-form,
  .add-salary-table .numbered-group .numbered-form,
  .add-employees .numbered-group .numbered-form,
  .prefunding .numbered-group .numbered-form,
  .card-linking .numbered-group .numbered-form,
  .adjustment .numbered-group .numbered-form,
  .customer-profile .numbered-group .numbered-form {
    margin-bottom: 30px;
    width: 100%;
    display: block;
    border-right: 0;
  }
  .check-balance .numbered-group .numbered-form .number,
  .cash-out .numbered-group .numbered-form .number,
  .add-salary-table .numbered-group .numbered-form .number,
  .add-employees .numbered-group .numbered-form .number,
  .prefunding .numbered-group .numbered-form .number,
  .card-linking .numbered-group .numbered-form .number,
  .adjustment .numbered-group .numbered-form .number,
  .customer-profile .numbered-group .numbered-form .number {
    display: block;
    width: 100%;
  }
  .check-balance .numbered-group .numbered-form .number-badge,
  .cash-out .numbered-group .numbered-form .number-badge,
  .add-salary-table .numbered-group .numbered-form .number-badge,
  .add-employees .numbered-group .numbered-form .number-badge,
  .prefunding .numbered-group .numbered-form .number-badge,
  .card-linking .numbered-group .numbered-form .number-badge,
  .adjustment .numbered-group .numbered-form .number-badge,
  .customer-profile .numbered-group .numbered-form .number-badge {
    margin: auto;
  }
  .check-balance .numbered-group .numbered-form .description,
  .cash-out .numbered-group .numbered-form .description,
  .add-salary-table .numbered-group .numbered-form .description,
  .add-employees .numbered-group .numbered-form .description,
  .prefunding .numbered-group .numbered-form .description,
  .card-linking .numbered-group .numbered-form .description,
  .adjustment .numbered-group .numbered-form .description,
  .customer-profile .numbered-group .numbered-form .description {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: auto;
  }
  .check-balance .numbered-group .numbered-form .description .form,
  .cash-out .numbered-group .numbered-form .description .form,
  .add-salary-table .numbered-group .numbered-form .description .form,
  .add-employees .numbered-group .numbered-form .description .form,
  .prefunding .numbered-group .numbered-form .description .form,
  .card-linking .numbered-group .numbered-form .description .form,
  .adjustment .numbered-group .numbered-form .description .form,
  .customer-profile .numbered-group .numbered-form .description .form {
    margin-top: 20px;
  }
  .check-balance .numbered-group .numbered-form .description .button[data-modal='#summary'],
  .cash-out .numbered-group .numbered-form .description .button[data-modal='#summary'],
  .add-salary-table .numbered-group .numbered-form .description .button[data-modal='#summary'],
  .add-employees .numbered-group .numbered-form .description .button[data-modal='#summary'],
  .prefunding .numbered-group .numbered-form .description .button[data-modal='#summary'],
  .card-linking .numbered-group .numbered-form .description .button[data-modal='#summary'],
  .adjustment .numbered-group .numbered-form .description .button[data-modal='#summary'],
  .customer-profile .numbered-group .numbered-form .description .button[data-modal='#summary'] {
    margin-top: -30px;
  }
  .check-balance .numbered-group .numbered-form.form-group .form,
  .cash-out .numbered-group .numbered-form.form-group .form,
  .add-salary-table .numbered-group .numbered-form.form-group .form,
  .add-employees .numbered-group .numbered-form.form-group .form,
  .prefunding .numbered-group .numbered-form.form-group .form,
  .card-linking .numbered-group .numbered-form.form-group .form,
  .adjustment .numbered-group .numbered-form.form-group .form,
  .customer-profile .numbered-group .numbered-form.form-group .form {
    margin-right: 0 !important;
  }
  .check-balance .numbered-group .numbered-form.form-group .actions,
  .cash-out .numbered-group .numbered-form.form-group .actions,
  .add-salary-table .numbered-group .numbered-form.form-group .actions,
  .add-employees .numbered-group .numbered-form.form-group .actions,
  .prefunding .numbered-group .numbered-form.form-group .actions,
  .card-linking .numbered-group .numbered-form.form-group .actions,
  .adjustment .numbered-group .numbered-form.form-group .actions,
  .customer-profile .numbered-group .numbered-form.form-group .actions {
    margin-top: 10px;
  }
  .check-balance .numbered-group .numbered-form .actions,
  .cash-out .numbered-group .numbered-form .actions,
  .add-salary-table .numbered-group .numbered-form .actions,
  .add-employees .numbered-group .numbered-form .actions,
  .prefunding .numbered-group .numbered-form .actions,
  .card-linking .numbered-group .numbered-form .actions,
  .adjustment .numbered-group .numbered-form .actions,
  .customer-profile .numbered-group .numbered-form .actions {
    display: block;
    text-align: center;
    width: 100%;
  }

  .reports .table-group {
    width: calc(100vw - 102px);
  }
  .reports .tab-wrapper {
    overflow: auto;
    width: calc(100vw - 41px);
  }
  .reports .tab-header {
    width: 800px;
  }

  .selected-table-detail {
    margin-top: 0;
  }

  .header .search input.field {
    max-width: 100%;
  }
}
@media (max-width: 842px) {
  .upload-note {
    position: relative !important;
    left: 0 !important;
    word-break: break-all;
    white-space: nowrap;
  }
}
@media (max-width: 1150px) {
  .sidebar {
    width: 130px;
  }
  .sidebar .menu li .icon {
    position: relative;
    display: block;
    text-align: center;
    font-size: 25px;
  }
  .sidebar .menu li .name {
    padding-left: 0;
    text-align: center;
    margin-top: 5px;
  }

  .wrapper {
    padding-left: 130px;
    transition: all 0.1s ease;
  }

  .navbar .item.toggle-sidebar {
    display: none !important;
  }

  .customer-profile .customer-info-left {
    width: 100%;
    float: left;
  }
}
@media (max-width: 500px) {
  .segment {
    padding: 20px 10px;
  }

  h1 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.6em;
  }

  .wrapper {
    padding-left: 60px;
  }

  .sidebar {
    width: 60px;
  }

  .sidebar .menu li .name {
    display: none;
  }

  .sidebar .menu li .icon {
    font-size: 19px;
  }

  .alert {
    padding: 12px 10px;
  }
  .alert .content {
    padding-right: 17px;
  }
  .alert .icon {
    top: 10px;
    right: 10px;
  }

  .box {
    padding: 20px 10px;
  }

  .breadcrumb .breadcrumb-group {
    width: 100%;
  }
  .breadcrumb .breadcrumb-group.right {
    display: none;
  }

  .row {
    margin: 0 -10px;
  }
  .row .col {
    padding: 0 10px;
  }

  .box-employee-list {
    margin-bottom: 20px;
    min-height: auto;
  }
  .box-employee-list .document-display .icon {
    display: none;
  }
  .box-employee-list .document-display .details {
    padding-left: 0;
  }

  .numbered-form {
    padding: 0;
  }

  .row-employee-info .info {
    margin-bottom: 10px;
  }

  .employee-info-right {
    margin-top: 20px;
  }

  .reports .box-tab .title {
    margin-top: -20px;
  }

  .reports .tab-header {
    margin-bottom: 10px;
  }

  .balance-value {
    display: block;
  }

  body.login-page .login .segment {
    padding: 40px 30px;
  }
}
body.login-page {
  background: #FBF7F1;
  position: relative;
  height: 100vh;
}
body.login-page .login {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 500px;
  padding: 0 10px;
}
body.login-page .segment {
  background: #fff;
  width: 100%;
  max-width: 450px;
  margin: auto;
  border-radius: 3px;
  color: #5e5e5e;
  padding: 50px;
}
body.login-page .logo {
  width: 230px;
  height: auto;
  margin: auto;
  margin-bottom: 25px;
}
body.login-page .form {
  margin-bottom: 15px;
}
body.login-page .horizontal-divider {
  margin: 20px 0;
}
body.login-page .divider {
  display: block;
  border-top: solid #D7D8D8 1px;
  height: 1px;
  margin: 25px 0 20px;
}
body.login-page .error-message {
  margin-bottom: 15px;
  color: #ff2600;
}
body.login-page .success-message {
  margin-bottom: 15px;
  color: #5b9a11;
}
body.login-page .password-form {
  margin-top: 22px;
}
body.login-page .password-form .field {
  padding-right: 60px;
}
body.login-page .success-icon {
  font-size: 70px;
}

div.pass-container {
  height: 8px;
  background: #f4f4f4;
  border-radius: 4px;
  margin-bottom: 34px;
  margin-top: 8px;
  display: none;
}

div.pass-bar {
  height: 8px;
  margin-top: 2px;
  transition: all 0.3s ease;
  width: 0;
  border-radius: 4px;
}

div.pass-hint {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
}
